@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;
$size: 100%;
$clr-bg: transparent;
$clr4: $white;
$item-size: calc($size / 3);
$animation-duration: 1150ms;

.Loader {
	display: flex;
	span {
		width: $item-size;
		height: $item-size;
		display: inline-block;
		margin: 0 1px;
		border-radius: 50%;
		border: 4px solid $white;
		@keyframes spinner {
			0%,
			100% {
				transform: translateY(75%);
			}

			50% {
				transform: translateY(-75%);
			}
		}
		@include animate(spinner, $animation-duration, ease-in-out, infinite);
		&:nth-child(1) {
			$clr-spinner: $clr4;
			animation-delay: calc($animation-duration) / 6 * -1;
		}
		&:nth-child(2) {
			$clr-spinner: $clr4;
			animation-delay: calc($animation-duration) / 6 * -2;
		}
		&:nth-child(3) {
			$clr-spinner: $clr4;
			animation-delay: calc($animation-duration) / 6 * -3;
		}
	}	
}
