@use '../../styles/layout' as *;
.Row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	&__justify {
		&--center {
			justify-content: center;
		}
		&--end {
			justify-content: end;
		}
		&--between {
			justify-content: space-between;
		}
	}
	&__align {
		&--center {
			align-items: center;
		}
		&--end {
			align-items: end;
		}
	}
	row-gap: $gap;
}
.Col {
	flex: 1 0 0;
	&[class*=🔥col-] {
		flex-grow: 0;
		flex-shrink: 1;
	}
}