@use '../../styles/colors' as *;
.Section {
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-size: cover;
	background-repeat: no-repeat;
	&__title {
		text-align: center;
	}
	&__description {
		text-align: center;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: solid 1px $whitegrey;
	}
}