@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;
.Home {
	&__hero {
		@include maxq(25rem) {
			padding-top: 2rem;
		}
		&__text {
			h1, p {
				color:$white;
			}
			h1 {
				font-size: 5rem;
				@include maxq(48rem) {
					font-size: 3rem;
					line-height: 1;
				}
			}
			p {
				font-size: 2rem;
				line-height: 1.25;
				font-weight: bold;
				@include maxq(48rem) {
					font-size: 1.5rem;
				}
			}
		}
		&__welcome_card {
			border-radius: 0.5rem;
			@include maxq(48rem) {
				width: 100%;
			}
			
		}
	}
	&__actions {
		margin-top: -2rem;
		background-color: $grey;
		max-width: 75rem;
		width: 95%;
		border-radius: 0.5rem;
		padding: 1rem;
		margin-left: auto;
		margin-right: auto;
		p {
			margin-bottom: 0;
		}
		* {
			color: $white;
		}
	}
	&__gallery {
		display: flex;
		gap: 1rem;
		&__item {
			border-radius: 0.5rem;
		}
	}
}