@use '../../styles/colors' as *;
.Home {
	&__hero {
		&__text {
			h1, p {
				color:$white;
			}
			h1 {
				font-size: 5rem;
			}
			p {
				font-size: 2rem;
				line-height: 1.25;
				font-weight: bold;
			}
		}
	}
}