@use '../../styles/colors' as *;
.Card {
    border-radius: 1rem;
    padding: 1rem;
    h4 {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: solid 1px $whitegrey;
    }
    &__shadow {
        box-shadow: 0 0 1rem -0.5rem $greylight;
        padding: 2rem;
    }
}