$display: (
	'flex': flex,
	'block': block,
	'none': none,
);

$displayUtilities: (
	'd': 'display',
);

$flex: (
	'justify': justify-content,
	'align': align-items,
);
$flexUtilities: (
	'left': flex-start,
	'center': center,
	'right': flex-end,
	'between': space-between,
);