@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;
.Header {
	background-color: $primary;
	padding: 0.5rem 0;
	&__sticky {
		position: sticky;
		top: 0;
		z-index: 10;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__logo {
			max-width: 14rem;
			cursor: pointer;
		}
		&__nav {
			display: flex;
			align-items: center;
			@include maxq(48rem) {
				display: none;
			}
			li {
				margin: 0;
				list-style-type: none;
				padding-left: 1.5rem;
				text-transform: uppercase;
				@include maxq(48rem) {
					padding: 0 0.5rem;
				}
				> a {
					color: $white !important;
					font-family: 'Kanit', sans-serif;
					&:hover {
						color: $secondary !important;
					}
				}
				&:last-child {
					a {
						color: $grey !important;
						margin-bottom: 0;
					}
				}
			}
		}
		&__hamburger {
			display: none;
			background-color: transparent;
			border: none;
			color: $white;
			cursor: pointer;
			@include maxq(48rem) {
				display: block;
			}
		}
	}
}