@use '../../styles/colors' as *;
.SideNav {
	width: 20rem;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: $offwhite;
    z-index: 11;
    padding: 2rem;
    transform: translateX(20rem);
	transition: transform ease-in-out 0.15s;
	box-shadow: none;
	display: flex;
    flex-direction: column;
	height: 100vh;
	max-width: 90%;
	&__isOpen {
		transform: translateX(0rem);
		box-shadow: 0 -0.5rem 1rem rgba(63, 57, 49, 0.4);
	}
	&__link {
		list-style-type: none;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		text-align: center;
		button {
			color: $grey;
			font-size: 1.5rem;
			font-weight: bold;
			background-color: transparent;
			border: none;
			cursor: pointer;
			transition: all ease-in-out 0.15s;
			background:
		    linear-gradient(
		      to right,
		      transparent,
			  transparent
		    ),
		    linear-gradient(
		      to right,
		      $primary,
		      $primaryhover
		  	);
			background-size: 100% 2px, 0 2px;
			background-position: 100% 100%, 0 100%;
			background-repeat: no-repeat;
			transition: background-size color 200ms;
			&:hover {
				text-decoration: none;
				color: $primary;
				background-size: 0 2px, 100% 2px;
			}
		}
		&--button {
			margin-bottom: 1rem;
			margin-top: 0;
			a {
				margin-top: 0;
			}
		}
	}
	&__close {
		background-color: transparent;
		color: $greylight;
		border: none;
		padding: 0.5rem;
		border-radius: 0.5rem;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.15s ease-in-out;
		margin-bottom: 1rem;;
		&:hover {
			background-color: $greylight;
			color: $grey;
		}
		&:hover {
			color: $greyhover;
		}
	}
}